* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    position: relative;
    height: 100px;
    width: 100vw;
    background-color: #fff;
}



header .logo{
    position: absolute;
    margin-top: 25px;
    margin-left: 40px;
    font-size: 40px;
    transition: 1s ease;
}

header .logo:hover{
    transform: translateY(-10px);
}

header .logo a{
    background: linear-gradient(120deg,rgb(0, 174, 255) 0%,rgb(255, 0, 242) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

header nav{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    height: 100%;
    width: 600px;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

header nav li{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    transition: 1s ease;
    font-size: 30px;
}

header nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 1s ease;
}

header li:hover{
    background-color: rgb(0, 47, 255);
}

header li:hover a{
    color: white;
}

#presentation{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#presentation img{
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 250px 20px 20px 150px;
}

h2{
    position: absolute;
    margin-top: 80px;
    width: 100vw;
    text-align: center;
    font-size: 40px;
}

#presentation p{
    position: absolute;
    width: 600px;
    right: 100px;
    margin-top: 250px;
    font-size: 20px;
}

#projets{
    position: relative;
    height: 100vh;
    width: 100vw;
}

.projet_container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.projet_flip{
    position: relative;
    height: 300px;
    width: 300px;
    margin-top: 230px;
    border: 1px solid #f1f1f1;
    perspective: 500px;
}

.projet_flip_in{
        position: relative;
    height: 100%;
    width: 100%;
    transition: 1s ease;
    transform-style: preserve-3d;
}

.projet_flip_front, .projet_flip_back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.projet_flip_front{
    background-color: rgb(109, 29, 29);
}

.projet_flip_back{
    position: absolute;
    transform: rotateY(180deg);
    top: 0;
    background-color: rgb(228, 78, 52);
}

.projet_flip:hover .projet_flip_in{
    transform: rotateY(180deg);
}

#contact{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#contact .contactList{
    margin-top: 220px;
    height: 400px;
    width: 100%;
    display:flex;
}

#contact .contactinfo{
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 25px;
}

#contact .contactinfo i{
    font-size: 50px;
    margin-right: 20px;
}

#contact .contactinfo1{
    text-align: center;
    display: flex;
    margin-top: 100px;
}

#contact .contactinfo2 {
    display: flex;
    margin-top: 300px;
}

#contact .contactinfo2 .linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contactinfo2 .twitter{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .contactinfo2 .link{
    text-decoration: none;
    color: black;
}

#contact .contactList .contacthover{
    padding: 20px;
    transition: 1s ease;
    border-radius: 20px;
}

#contact .contactList .contacthover:hover{
    background-color: rgb(241, 82, 82);
}

footer{
    position: relative;
    height: 50px;
    width: 100vw;
    background-color: black;
}
 footer .copyright {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}